[user]
# Please adapt and uncomment the following lines:
	name = b0s00dg
	email = bsmreker@walmart.com
[credential]
	helper = osxkeychain
[http]
	proxy = sysproxy.wal-mart.com:8080
[url "ssh://git@gecgithub01.walmart.com/"]
	insteadOf = https://gecgithub01.walmart.com/
[core]
	editor = /usr/local/bin/nvim
